<nav>
  <div class="nav-main">
    <a href="{{ site.url }}{{ site.baseurl }}/">
      <img 
        src="{{ site.url }}{{ site.baseurl }}/assets/icons/logo.svg" 
        class="nav-logo"
        alt="Katelyn Smith Bakes Logo"
      >
    </a>
    <span class="nav-desktop-links">
      {% for item in site.data.navigation %}
        <a href="{{ site.url }}{{ site.baseurl }}/{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </span>
    <span class="nav-mobile-menu menu-open" alt="Mobile Menu Icon"></span>
  </div>
  <div class="nav-responsive">
    <span class="nav-responsive-links">
      {% for item in site.data.navigation %}
        <a href="{{ site.url }}{{ site.baseurl }}/{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </span>
  </div>
</nav>