$background-white: #FAFAFA;
$text-color: #272727;

body {
  background-color: $background-white;
  box-sizing: border-box;
  color: $text-color;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0 20px;
  text-align: center;
}

p {
  padding: 0 20px;
}

a, a:hover, a:visited, a:active {
  color: $text-color;
  text-decoration: none;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
}

.button, .button:hover, .button:visited, .button:active {
  background-color: $text-color;
  color: $background-white;
  display: flex;
  height: 2.5rem;
  margin: 0 auto;
  min-width: 25%;
  text-align: center;
  vertical-align: middle;
}