$background-white: #FAFAFA;
$text-color: hsl(0, 0%, 15%);
$link-hover-color: #414141;

body {
  background-color: $background-white;
  box-sizing: border-box;
  color: $text-color;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
}

h2 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2em;
  font-style: normal;
  line-height: 3rem;
  padding: 0 20px;
  text-align: center;
}

p {
  margin: 0;
  padding: 0 20px;
}

a, a:visited, a:active {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover-color;
  text-decoration: none;
}

img {
  width: 100%;
}

.content {
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
}

.card:last-of-type {
  margin-bottom: 0;
}

.button {
  background-color: $text-color;
  color: $background-white;
  display: inline-block;
  margin: 2rem;
  padding: 0.75rem 1rem;
}

.button:hover {
  background-color: $link-hover-color;
}

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }
  
  .content {
    width: 40%;
  }

  .card {
    margin-bottom: 50px;
  }
}