@media screen and (min-width: 576px) {
  .nav-mobile-menu {
    display: none;
  }

  .nav-responsive {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .nav-desktop-links {
   display: none; 
  }

  .nav-responsive-links {
    display: flex;
    flex-direction: column;
  }
}