.nav-main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100px;
  padding-top: 15px;

  .nav-logo {
    height: 100px;
  }

  .nav-logo:hover {
    opacity: 80%;
  }
  
  .nav-desktop-links {
    display: none;
  }
  
  .nav-mobile-menu {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 10px;
    width: 30px;
  }

  .nav-mobile-menu:hover {
    opacity: 75%;
  }

  .menu-open {
    background: url("../icons/list.svg") center/contain no-repeat;
  }

  .menu-closed {
    background: url("../icons/x-lg.svg") center/contain no-repeat;
  }
}

.nav-responsive {
  background-color: $background-white;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 115px;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  width: 100vw;

  .nav-responsive-links {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 3rem;

    a {
      margin: .5rem 0;
    }
  }
}

.nav-responsive.show {
  transform: translateX(0); /* Slide the element in by setting transform to 0 */
}

@media (min-width: 576px) {
  .nav-main {
    display: flex;
    justify-content: start;
    margin: 0 auto;
    width: 80%;
    
    .nav-mobile-menu {
      height: 30px;
      position: absolute;
      right: 10%;
      width: 30px;
    }
  }
  
}

@media (min-width: 800px) {
  .nav-main {
    display: grid;
    grid: auto-flow / 125px 1fr;
    height: 130px;
    padding-top: 0;
    width: 60%;

    .nav-logo {
      height: 125px;
    }
    
    .nav-desktop-links {
      display: flex;
      font-size: 1.25rem;
      font-weight: 500;
      justify-content: space-between;
      margin-left: 4rem;
    }
    
    .nav-mobile-menu {
      display: none;
    }
  }
  
  .nav-responsive {
    display: none;
  }
}

@media (min-width: 1200px) {
  .nav-main {
    width: 40%;
  }
}